  <div class="editor-row">
    <div class="section">
      <h5>Parameters</h5>
      <div class="editor-option">
        <label class="small">Aggregation Field</label>
        <input type="text" bs-typeahead="fields.list" ng-model="panel.agg_field_1" ng-change="set_refresh(true)">
      </div>
      <div class="editor-option">
        <label class="small">Length</label>
        <input class="input-small" type="number" ng-model="panel.size" ng-change="set_refresh(true)">
      </div>
      <div class="editor-option">
        <label class="small">Exclude Values (Java regex Pattern string)</label>
        <input type="text" ng-model='panel.filter'></input>
      </div>
      <div class="editor-option">
        <label class="small">Sub-Aggregation Field</label>
        <input type="text" bs-typeahead="fields.list" ng-model="panel.agg_field_2" ng-change="set_refresh(true)">
      </div>
    </div>
  </div>
  <div class="editor-row">
    <div class="section">
      <h5>Weights</h5>
      <label class="small">Define the weight directly in the panel, in JSON format. If this, and the "Weights File URL" are both defined, this value is used instead. This will also fall back to loading the URL if invalid JSON was given.</label>
      <textarea class="input-block-level" rows="10" ng-model='panel.weights' ng-change="set_refresh(true)"></textarea>
    </div>
  </div>
  <div class="editor-row">
    <div class="section">
      <h5>Weights File URL</h5>
      <label class="small">Define a URL path for loading in a weight file in JSON format.</label>
      <div class="editor-option">
        <input type="text" ng-model='panel.weights_file_url'></input>
      </div>
    </div>
  </div>
  <div class="editor-row">
    <div class="section">
      <h5>View Options</h5>
      <div class="editor-option">
        <label class="small">Style</label>
        <select class="input-small" ng-model="panel.chart" ng-options="f for f in ['bar','pie','table']"></select></span>
      </div>
      <div class="editor-option" ng-show="panel.chart == 'table'">
        <label class="small">Font Size</label>
        <select class="input-mini" ng-model="panel.style['font-size']" ng-options="f for f in ['7pt','8pt','9pt','10pt','12pt','14pt','16pt','18pt','20pt','24pt','28pt','32pt','36pt','42pt','48pt','52pt','60pt','72pt']"></select></span>
      </div>
      <div class="editor-option" ng-show="panel.chart == 'bar' || panel.chart == 'pie'">
        <label class="small">Legend</label>
        <select class="input-small" ng-model="panel.counter_pos" ng-options="f for f in ['above','below','none']"></select></span>
      </div>
      <div class="editor-option" ng-show="panel.chart != 'table' && panel.counter_pos != 'none'">
        <label class="small" >Legend Format</label>
        <select class="input-small" ng-model="panel.arrangement" ng-options="f for f in ['horizontal','vertical']"></select></span>
      </div>
      <div class="editor-option" ng-show="panel.chart == 'pie'">
        <label class="small">Donut</label><input type="checkbox" ng-model="panel.donut" ng-checked="panel.donut">
      </div>
      <div class="editor-option" ng-show="panel.chart == 'pie'">
        <label class="small">Tilt</label><input type="checkbox" ng-model="panel.tilt" ng-checked="panel.tilt">
      </div>
      <div class="editor-option" ng-show="panel.chart == 'pie'">
        <label class="small">Labels</label><input type="checkbox" ng-model="panel.labels" ng-checked="panel.labels">
      </div>
    </div>
  </div>
